<div>
    <h1 class="text-center">anugular 學習</h1>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">Style</h2>
        <p>APP components</p>
        <app-a class="active"></app-a>
        <app-b class="hihi"></app-b>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">Components</h2>
        <hihi-test-selector></hihi-test-selector>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">Directive</h2>
        <div>
            <h3 class="text-center">build-in directives</h3>
            <div [ngClass]="dynamicClass">ngClass</div>
            <div [ngClass]="{'bg-red':isBgRed}">ngClass2</div>
            <button (click)="toggleBg()">切換ngClass背景</button>
            <button (click)="toggleColor()">切換ngClass顏色</button>
        </div>
        <div>
            <h3 class="text-center">custom directives</h3>
            <p appHighlight>hello ng-directive</p>
            <p>Pick a highlight color</p>
        </div>
        <div>
            <input type="radio" name="colors" (click)="highlightColor='lightgreen'">Green
            <input type="radio" name="colors" (click)="highlightColor='yellow'">Yellow
            <input type="radio" name="colors" (click)="highlightColor='cyan'">Cyan
        </div>
        <p [appHighlight]="highlightColor" defaultColor="violet">
            Highlight me too!
        </p>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">Dependency injection & services</h2>
        <app-root-test><app-child></app-child></app-root-test>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">Service as store</h2>
        <app-t1></app-t1>
        <app-t2></app-t2>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">Router</h2>
        <button routerLink="/home/123213">前往頁面</button>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">Content-Projection</h2>
        <app-content-projection>
            <div>I am show in default Content</div>
            <div class="some-class">My class is some-class. I am show in select=".some-class" content</div>
            <div id="someId">My Id is someId. I am show in select="#someId" content</div>
            <ng-template appConditionDirective>
                <div>hihi</div>
                <app-vcc></app-vcc>
            </ng-template>
            <div class="mt-8" ngProjectAs="[hello]">用projectAs來選擇要project的內容</div>
        </app-content-projection>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">ViewChild vs ContentChild</h2>
        <app-view-child-content-child>
            <div #cc>我是content內容</div>
        </app-view-child-content-child>
    </div>
    <div>
        <h2 class="text-center" [ngClass]="titleBg">ngTemplateOutlet</h2>
        <div 
            *ngTemplateOutlet="
                myTmp; 
                context: {boo: 'I am boo',$implicit:'I am default',}"
        ></div>
        <ng-template #myTmp let-default let-boo="boo">
            <div>{{default}}</div>
            <div>{{boo}}</div>
        </ng-template>
    </div>
</div>