/* You can add global styles to this file, and also import other style files */
// :host p {
//     color: red;
// }
.p-8{
    padding: 16px;
}

.bg-red{
    background-color: red;
}

.color-white{
    color: white;
}

.text-center{
    text-align: center;
}

.bg-orange {
    background-color: orange;
}

.bg-cyan{
    background-color: rgb(38, 215, 221);
}

.bg-pink{
    background-color: rgb(220, 193, 198);
}

.bg-purple{
    background-color: rgb(185, 146, 185);
}

.bg-dark-red{
    background-color: rgb(149, 34, 34);
}